.box1
{
       width: 200px;
       height: 100;
       padding: 20px;
       border: 2px solid black;
       margin: 30px;
}

.box2
{
       width: 200px;
       height: 100;
       padding: 20px;
       border: 2px solid black;
       margin: 30px;
}
