.card_design
{
     border: 1px solid black;
}
.card_design
{
    border: 1px solid black;
    width: 200;
    
}
.card_design
{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    
}