.container {
    display: flex;
    width: 1100px;
    height: 600px;
    background-color: rgb(222, 218, 218);
}

.card1 {
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    align-items: center;
    height: 300px;
    row-gap: 14px;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.c1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 380px;
    height: 50px;
}

.c1r1 {
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

.c1r2 {
    display: flex;
    flex-direction: column;
    width: 140px;
    row-gap: 5px;
    height: 35px;
}

.bold {
    width: 140px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: rgb(58, 56, 56);
    height: 20px;
}

.simple {
    width: 80px;
    height: 20px;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: 600;
    color: rgb(58, 56, 56);
}

.c2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    width: 380px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: gray;
}

.c2:hover {
    background-color: blue;
    color: white;
}

.c2icon1 {
    margin-left: 15px;
    width: 20px;
    height: 20px;
}

.c2:hover .i5 {
    fill: white;
}
.c2icon2 {
    margin-left: 10px;
    width: 15px;
    padding-right: 2%;
    height: 20px;

}
.c2:hover .i4 path{
    stroke: white;
}

.c2icon3 {
    margin-left: 15px;
    width: 20px;
    height: 20px;
}

.c2icon4 {
    margin-left: 15px;
    width: 20px;
    height: 20px;
}

.c2:hover .i2 path {
    stroke: white;
}

.c2icon5 {
    margin-left: 15px;
    width: 20px;
    height: 20px;
}

.c2:hover .i1 {
    fill: white;
}

.c2:hover .i4 path{
    stroke: white;
}

.c2text {
    width: 100px;
    height: 15px;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 600;
}

.card2 {
    display: flex;
    width: 660px;
    height: 500px;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
}


.col1card2 {
    display: flex;
    margin-top: 10px;
    width: 100%;
    flex-direction: row;
    height: 8%;
    background-color: white;
}


.c1btn1 {
    width: 140px;
    margin-top: 10px;
    height: 25px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(5, 5, 91);
    font-family: sans-serif;

}

.c1btn2 {

    width: 80px;
    height: 25px;
    margin-top: 5px;
    padding-top: 8px;
    padding-left: 24px;
    border-radius: 20px;
    background-color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgb(62, 60, 60);
    margin-left: 280px;
    border: 1px solid black;

    cursor: pointer;
}

.c1btn2:hover {
    background-color: blue;
    color: white;
}

.c1btn3 {
    width: 60px;
    height: 25px;
    margin-top: 5px;
    border-radius: 20px;
    padding-left: 24px;
    cursor: pointer;
    padding-top: 8px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-left: 10px;
    border: 1px solid black;
    background-color: white;
    color: rgb(62, 60, 60);
}


.c1btn3:hover {
    background-color: blue;
    color: white;
}

.col2card2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25%;
}

.avator {
    width: 20%;
    height: 18%;
    margin-left: 10px;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: 10px;
    color: rgb(5, 5, 91);

    font-size: 13px;
}

.img {
    width: 13%;
    height: 61%;
    border-radius: 30px;
    background: url(q45pic1.jpeg);
    background-position: center;
    background-size: cover;
    margin-left: 10px;
    margin-top: 10px;
}


.horizontal {
    margin-left: 2%;
    margin-top: 1%;
    width: 96%;
    height: 1px;
    background-color: gray;
}

.colinputs {
    display: flex;
    flex-direction: row;

    margin-left: 2%;
    margin-top: 2%;
    width: 96%;
    column-gap: 4%;
    height: 15%;
}

.lable {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: rgb(107, 102, 102);
}

.input1 {
    width: 90%;
    margin-top: 3%;
    padding-left: 30px;
    height: 35%;
    border-radius: 20px;
    border-color: rgb(155, 149, 149);
}

.icon {
    width: 20px;
    position: relative;
    height: 20px;
    margin-left: 10px;
    margin-top: -25px;
}

.col2inputs {
    display: flex;
    flex-direction: row;

    margin-left: 2%;
    width: 96%;
    column-gap: 4%;
    height: 15%;
}

.input2 {
    width: 90%;
    margin-top: 3%;
    padding-left: 30px;
    height: 35%;
    border-radius: 20px;
    border-color: rgb(155, 149, 149);
}

.input3 {
    width: 90%;
    margin-top: 3%;
    padding-left: 30px;
    height: 35%;
    border-radius: 20px;
    border-color: rgb(155, 149, 149);
}

.input4 {
    width: 81%;
    margin-top: 3%;
    padding-left: 30px;
    height: 35%;
    border-radius: 20px;
    border-color: rgb(155, 149, 149);
}

.collinked {
    width: 95%;
    height: 3%;
    margin-top: 7%;
    margin-left: 2%;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgb(3, 3, 67);
}

.learntxtp {
    width: 95%;
    height: 3%;
    margin-left: 2%;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: gray;
}

.colgoogle {
    display: flex;

    width: 95%;
    height: 10%;
    margin-left: 2%;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin-top: 2%;
    column-gap: 40%;
    color: gray;
}

.googletxt {
    display: flex;
    width: 40%;
    height: 90%;
}

.gooicon {
    margin-left: 2%;
    width: 23%;
    height: 100%;

}

.signin {

    width: 65%;
    margin-top: 4%;
    color: rgb(9, 9, 102);
    height: 50%;
}


.btnconnect {
    width: 12%;
    height: 55%;
    margin-top: 1%;
    padding-left: 4%;
    padding-top: 1%;
    font-weight: 600;
    font-size: 12px;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
    color: rgb(5, 5, 67);
}

.btnconnect:hover {
    background-color: blue;
    color: white;
}