.container {
    position: relative;
    width: 160px;
    height: 160px;
    margin-left: 10px;
    border-radius: 160px;
    border: 5px solid white;
    background-color: black;
    animation: container 1s infinite;
    /* box-shadow: inset 0 0 45px white; */
   
}

@keyframes container 
{
    0% 
    {
        transform: scale(0.2);
       box-shadow:
      0 0 45px white,
      inset 0 0 45px white;

    }

    100% 
    {
        transform: scale(1);
       box-shadow:
      0 0 45px white,
      inset 0 0 45px white;

    }
}

.loading
{
       width: 40px;
       height: 10px;
       position: absolute;
       left: 5%;
       bottom: 84%;
        text-align: center;
    font-size: 19px;
    color: aliceblue;
    font-family: sans-serif;
    /* padding-top: 40px; */
    font-weight: 600;
}