.container {
    width: 30px;
    height: 30px;
    background-color: black;
    border: 3px solid rgb(0, 0, 0);
    animation: container 1s linear infinite;
    border-radius: 50px;
            border-top: 3px solid orange;
                    border-right: 3px solid orange;
                            border-bottom: 3px solid orange;



}

@keyframes container {
    0% 
    {
        transform: rotate(0deg);

        
    }

    /* 40% 
    {
        transform: rotate(90deg);
        border-left: 3px solid orange;
    }

    80% 
    {
        border-bottom: 3px solid orange;

    } */

    100% 
    {
        transform: rotate(360deg);

    }
}
