.container
{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       column-gap: 10px;
       row-gap: 10px;
}
.item
{
      
    background-color: rgb(26, 26, 107);
   padding: 10px;
   color: azure;
}