.box
{
        width: 100px;
        height: 100px;
        background-color: blue;
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.box:hover{
      width: 300px;
      background-color: red;
}