.box {
    width: 100px;
    height: 100px;
    background-color: blue;
    animation: boxshade 1s infinite alternate;
}

@keyframes boxshade 
{
    0% 
    {
        opacity: 0;
    }

    100% 
    {
        opacity: 1;
    }

}
