.container
{
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         margin: 100px;
         padding: 10px;
         border: 1px solid black;
         gap: 10px;
         height: 600px;
         

}
.item
{
        padding: 10px;
        background-color: blue;
        margin: 10px;
        color: white;
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
}
