.container
{
         display: flex;
         flex-direction: column;
         row-gap: 10px;
}
.item
{
        padding: 10px;
        background-color: blue;
        margin: 10px;
        color: white;
}