.block-element
{
       background-color: white;
       margin-bottom: 10px;
         width: 100px;
        height: 100px;
        display: inline-block;
}
.container
{
        background-color: blue;
        padding: 10px;
}
