.box
{
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border: 1px #f0f0f0;
    margin: 10px;
}
.container
{
        background-color: rgb(41, 41, 167);
        padding: 10px;
        position: relative;
}
#box1
{
       position: sticky;
       top:10px;
     
}